$mobile-breakpoint: 480px
$tablet-breakpoint: 1024px

html
  width: 100%
  height: 100%
  min-height: 100%
body
  width: 100%
  height: 100%

.top-container


  background-color: #3f2cac
  color: white
  width: 100%
  height: 25%

  .center
    display: flex
    justify-content: center
    align-items: center

  .form-centered
    margin-top: 20px

  .search-bar
    @media screen and (max-width: $mobile-breakpoint) 
      flex-direction: column

      .form-control
        margin-top: 9px
    

  .button-form
    margin-top: 5px

    .btn-submit
      background-color: #028482
      border: none
      color: white

      &.hover
        background-color: #015251

  .submit-button
    margin-top: 5px


.lower-container
  color: white
  width: 100%
  height: 75%


